@import url('bootstrap.min.css');
@import url('bootstrap_override.css');

*{
	margin: 0px;
	padding: 0px;
}
body {
	background: #1d2939;
	line-height: 21px;
	color: #636e7b;
}

.pleft-collapsed .pleft {
	width: 50px;
	top: 50px;
}

.pleft-collapsed .pleft .navbox {
	padding: 0px;
}

.pleft-collapsed .pleft  span, .pleft-collapsed .pleft .arrow{
	display: none;
}

.pleft-collapsed .logobox{
	display: none;
}

.pleft-collapsed .pcontent {
	margin-left: 50px;
}

.pleft-collapsed .headerbar {
	margin-left: -50px;
}

.chat-view .pcontent{
	margin-right: 240px;
}
.chat-view .pright{
	right: 0px;
}

#masker {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e4e7ea;
	z-index: 10000;
}

.pleft {
	width: 240px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	
}

.pcontent {
	margin-left: 240px;
	background: #e4e7ea;
	min-height: 1000px;
}

.pright {
	width: 240px;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	top: 0;
	right: -240px;
}

.logobox {
	padding: 5px 10px;
	text-align: center;
	background-color: #ffffff;
	height: 50px;
}

.logobox span{
	color: #1caf9a;
}
.logobox h1{
	padding: 5px;
	margin: 0px;
	font-size: 24px;
}  

.pleft .navbox {
	padding: 5px 15px;
}

.nav-kpages >li >a {
	padding: 7px 10px;
	color: #8f939e;
}
.nav-kpages li .glyphicon {
	font-size: 16px;
	vertical-align: middle;
	margin-right: 10px;
	width: 16px;
	text-align: center;
}

.nav-kpages > li.active > a,
.nav-kpages > li.active > a:hover,
.nav-kpages > li.active > a:focus {
    background-color: #1caf9a;
    color: #fff;
}


.nav-kpages .children {
	list-style: none;
	display: none;
	margin: 5px 0;
	padding: 0;
}

.nav-kpages >li a>.arrow {
	display: inline-block;
	width: 14px!important;
	height: 14px;
	line-height: 14px;
	text-shadow: none;
	font-size: 12px;
	position: absolute;
	right: 4px;
	top: 11px;
	padding: 0;
	color: #666;
	font-style: normal;
}

.nav-kpages .children {
	list-style: none;
	display: none;
	margin: 5px 0;
	padding: 0;
}

.nav-kpages .children > li > a {
	color: #94989d;
	font-size: 12px;
	display: block;
	padding: 5px 0 5px 27px;
	-moz-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
	}

.nav-kpages .children > li .glyphicon {
	font-size: 12px;
	opacity: 0.5;
	margin-right: 5px;
	text-align: left;
	width: auto;
	vertical-align: baseline;
}


.pleft-collapsed .nav-kpages {
    margin: 5px;   
}

.pleft-collapsed .nav-kpages li a {
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 0px;
    padding: 10px;
    position: relative;

}

.pleft-collapsed .nav-kpages > li > a:hover {
    border-radius: 0;
}

.pleft-collapsed .nav-kpages > li.nav-parent > a {
    background-image: none;
}


.pleft-collapsed .nav-kpages > li > a > span {
    position: absolute;
    background: #fff;
    padding: 10px 10px 10px 5px;
    left: 40px;
    top: 0;
    min-width: 209px;
    text-align: left;
    z-index: 100;
    display: none;

}



.pleft-collapsed .nav-kpages > li > a .badge {
    display: none;
}

.pleft-collapsed .nav-kpages > li.active > a > span{
    -moz-border-radius: 0 2px 0 0;
    -webkit-border-radius: 0 2px 0 0;
    border-radius: 0 2px 0 0;
}

.pleft-collapsed .nav-kpages ul {
    display: none;
}

.pleft-collapsed .nav-kpages > li.nav-hover > a {
    background: #fff;
    color: #1d2939;
}

.pleft-collapsed .nav-kpages > li.nav-hover.active > a {
    background: #1CAF9A;
    color: #fff;
}

.pleft-collapsed .nav-kpages > li.nav-hover > a > span {
    display: block;
}

.pleft-collapsed .nav-kpages > li.nav-hover.active > a > span {
    background: #1CAF9A;
    color: #fff;
}

.pleft-collapsed .nav-kpages li.nav-hover ul {
    display: block;
    position: absolute;
    top: 41px;
    left: 45px;
    margin: 0;
    min-width: 204px;
    background: #1d2939;
    z-index: 100;

}

.pleft-collapsed .nav-kpages ul a {
    text-align: left;
    padding: 6px 10px;
    padding-left: 0;
}


/** 上部样式 **/
.headerbar {
	background: #ffffff;
	border-left: 1px solid #eee;
	display: block;
	clear: both;
}
.menutoggle {
	float: left;
	width: 50px;
	height: 50px;
	font-size: 22px;
	cursor: pointer;
	float: left;
	color: #1d2939;
	border-right: 1px solid #eee;
	-moz-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
	background: #fff;
}

.menutoggle .fa, .menutoggle .glyphicon {
	margin: 14px 0 0 15px;
}

.searchform input {
	width: 250px;
	float: left;
	padding: 18px 20px;
	border: 0;
	border-right: 1px solid #eee;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	height: 50px;
	font-size: 14px;
}

.headermenu {
	list-style: none;
	height: 40px;
	padding: 10px 20px;
}

.headermenu li {
	display: inline-block;
	float: left;
	border-left: 1px solid #eee;
	position: relative;
}
/** 正文 样式 **/
.pbody{
	padding: 5px;
}


/** 右边栏样式 **/

.pright,
.pright label {
    color: #999;
}

.pright .nav-tabs {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #131d29;
    position: fixed;
    width: 240px;
}

.pright .nav-tabs > li {
	display: table-cell;
	width: 1%;
}


.pright .nav-tabs > li > a{
    padding: 15px 20px 16px 20px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: rgba(255,255,255,0.5);
    border: 0px;
}

.pright .nav-tabs > .active > a,
.pright .nav-tabs > .active > a:hover,
.pright .nav-tabs > .active > a:focus{
    background: #1D2939;
    color: #fff;
    border: 0px;
}

.pright .nav-tabs>li>a:hover{
    background: #131d29;
    color: #fff;
}

.pright .tab-content {
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 50px;
	padding: 5px;
}

.pright .panel {
	border-radius: 0px;
	background-color: #1D2939;
	border: 0px;
}

.pright .panel-default>.panel-heading {
	color: #ffffff;
	background-color: #1D2939;
	border:0px;
	padding: 10px 5px;
}

.pright .panel-default>.panel-heading h4 {
	font-size: 14px;
}

.pright .panel-body {
	padding: 10px;
}


.pright .media h4{
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}
.pright .media{
	font-size: 12px;
	margin-bottom: 8px;
}

.pright .media .img-circle {
	padding: 2px; 
	border: 2px solid #1caf9a;
}

.pright .sidebartitle{
	font-size: 14px;
	padding: 0px;
	color: #ffffff;
}
